<h1>Sample App</h1>
<p>This is the home page for Nishith's sample application</p>

<% if not user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
<% end %>